@import "../../../src/styles/colors.scss";

.addProductContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin: 0;
  padding: 0;
  margin-top: 5rem;
}

.imageContainer {
  position: relative;
  width: 30%;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .5rem;
  width: 30%;
  margin-left: auto;
  padding: 1rem;
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
    color:$color-white;
  }
  input {
    margin: 0 1rem 1rem 0;
    background-color:$color-white;
    border: none;
    border-bottom: .5px solid $color-disabled;
    text-align: left;
    line-height: 2rem;
    font-weight: 700;
    &:focus {
      outline: none;
      &::placeholder {
        text-align: left;
        color: transparent;
      }
    }
    &::placeholder {
      font-weight: 700;
      text-align: left;
    }
  }
  select {
    background-color: $color-white;
    border-radius: .5rem;
    &:focus {
      border-color: $color-red;
    }
  }

  textarea {
    max-width: 300px;
    min-width: 100px;
    max-height: 150px;
    min-height: 50px;
    border: 2px solid $color-red;
    outline: none;
    &:focus {
      background-color: $color-white;
      border: 2px dashed $color-blue;
      outline: none;
    }
    &::placeholder {
      color: $color-red;
      text-align: center;
      font-weight: bold;
    }

  }
}