@import '../../../src/styles/fonts.scss';
@import '../../../src/styles/colors.scss';

.listContainer {
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.listElement {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: $default-font;
  color: $color-blue;
}