@import '../../../src/styles/fonts.scss';
@import '../../../src/styles/colors.scss';

.listContainer {
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
}
.listElement {
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: $default-font;
  color: $color-blue;
  &:hover { 
    cursor: pointer;
    color: $color-red;
  }
}