$color-red : #DB4444;
$color-orange: #FC9918;
$color-black : #011627;
$color-green : #2EC4B6;
$color-white : #F6F7F8;
$color-disabled: #c6c6c6eb;
$color-blue : #35589A;
$color-darkBlue: #370665;
$color-lightWhite: #ebf0f3;

