

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-width: 100vw;
  background-color: #F6F7F8;
}

.main {
  width: 100%;
  
  @media (min-width: 677px) {
    margin-top: 12vh;  
  }
}

.notFound {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3rem;
}

.notFound_header {
  color: #011627;
  font-size: 4rem;
}

.notFound_paragraph {
  color: #011627;
  font-size: 1.5rem;
  text-align: center;
}