@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.navigation_ul {
  position: fixed;
  left:0;
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: $color-white;
  margin: 0;
  z-index: 2;
}

.navigation_link {
  font-size: 1.3rem;
  font-family: $default-font;
  text-decoration: none;
  color: $color-black;
  a {
    text-decoration: none;
    color: $color-black;
  }
  &_active {
    font-size: 1.3rem;
    font-family: $default-font;
    
    a {
      color: $color-black; 
      border: 2px solid $color-darkBlue;
      border-radius: 1.5rem;
      padding: 1rem;
      text-decoration: none; 
    }
  }
  @media (min-width: 1024px) {
    font-size: 1.5rem;
    &_active {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1750px) {
    font-size: 2.1rem;
    &_active {
      font-size: 2.1rem;
    }
  }
}


.navigation_link_userPanel {
  composes:navigation_link;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.defaultAvatar {
  color: $color-darkBlue;
  font-size: 25px;
  &:hover {
    cursor: pointer;
  }
}

.user_menu {
  position: fixed;
  top:-100px;
  padding: 0;
  margin: 0px 1rem 0px 0px;
  width:20%;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: aqua;
  transition: all .5s;
  z-index:1;
  & li {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3rem;
  }
}

.openMenu {
  transition: all .5s;
  top: 0px;
}

.cart { 
  color: $color-darkBlue;
  font-size: 2rem;
  @media (min-width: 1750px) {
    font-size: 3.5rem;
  }
}

.navigation_imageContainer {
  position: relative;
  width: 25%;
  height: 9vh;
}

.menuItem {
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: $color-darkBlue;
}