@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.navigation {
  overflow: hidden;
  position: fixed;
  top: -45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .4s ease-out;
  background-color: $color-white;
  z-index: 9;
  border-bottom: 2px solid $color-orange;
}

.icon {
  padding: 0;
  overflow: hidden;
  position:absolute;
  top: .5rem;
  right: 2rem;
  font-size: 3rem;
  transition: .4s ease-out;
  color: $color-orange;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}
.reverseIcon {
  transition: .4s ease-out;
  transform: rotate(180deg);
}

.navigation_ul {
  overflow: hidden;
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.openMenu {
  transition: .4s ease-out;
  top: 0;
}

.navigation_link {
  font-family: $default-font;
  font-size: 1.4rem;
  padding: 1rem;
  a {
    color: $color-orange;
    text-decoration: none;
  }
}

.navigation_link_userPanel {
  composes:navigation_link;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.5rem;
}