@import '../variables/colors.scss';

.navigation {
	position: fixed;
	display: flex;
	justify-content: end;
	width: 100%;
}

.navigation_ul {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
	list-style: none;
	background-color: $color-white;
	padding: .5rem;
	border-bottom: 1px solid $color-brown;
	border-left: 1px solid $color-brown;
	border-radius: 0 0 0 15px;
}

.navigation_ul_li {
	font-size: 2.5rem;
	font-family: 'BioRhyme', serif;
	font-weight: 700;
}

.navigation_ul_li a {
	text-decoration: none;
	color: $color-green;
	cursor: pointer;
	&:hover {
		color: $color-green;
	}
}

.barMenu {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 4rem;
	margin: 1rem;
	color: $color-green;
	z-index: 10;
}

.openMenu {
	opacity: 1;
}

.closeMenu {
	opacity: 0;
}
