.register__section {
  width:100%;
  padding: 1.5rem;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
}



.register__input {
  background-color: red;
}