@import '../../../src/styles/colors.scss';

.input {
  display: none;
}

.label {
  text-align: center;
  width: 60%;
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1rem;
  border-radius: .5rem;
  font-weight: 700;
  color: $color-white;
  background-color: $color-red;
  &:hover {
    cursor: pointer;
  }
  @media (min-width:624px) {
    width: 30%;
  }
}