@import '../../../../src/styles/colors.scss';

.userCart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media ( min-width:624px) {
    flex-direction: row;
    width: 100%;
  }
}
.cardListContainer { 
  padding: 0;
  width:70% !important;
  margin-right: 2rem;
  height: 50vh;
  overflow: auto;
  margin-bottom: 2rem;
  @media (min-width: 624px) {
    width: 50%
  }
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-darkBlue;
    border-radius: 10px;
    border: 1px none #ffffff;
  }
}

.card {
  width:100%;
  margin: 1rem;
}


.cardDeleteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & .trash {
    margin: 1rem;
    font-size: 4rem;
  }
}

.deleteLoader {
  margin: 1rem;
  font-size: 4rem;
}

.noItemsParagraph {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.summaryContainer {
  align-self: center;
  border: 2px solid $color-darkBlue;
  border-radius: .7rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  @media (min-width: 624px) {
    align-self: flex-start;
    width: 20%;
  }
  & h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  & p {
    font-size: 1rem;
    font-weight: bold;
  }
}

.noItemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}