@import '../../../../src/styles/colors.scss';

.cardListContainer { 
  display: flex;
  justify-content: center;
  padding: 0;
  width:100%;
}

.card {
  width:100%;
  margin: 1rem;
}


.cardDeleteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & .trash {
    font-size: 5rem;
  }
}

.noItemsParagraph {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}