@import '../../../../src/styles/colors.scss';

.cardListContainer { 
  width:100%;
}

.card {
  width:100%;
  margin: 1rem;
}

.imageContainer { 
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 150px;
  margin-right: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  @media (min-width: 624px) {
    height: auto;
    width: 55%;
  }
}

.cardInfoContainer { 
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (min-width: 624px) {
    width: 50%;
  }
  & h1 {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.3rem;
    text-align: center;
    color: $color-green;
  }
  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  a {
    text-align: center;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  height: 50vh;
  overflow: auto;
  list-style: none;
  align-items: center;
  @media (min-width:624px) {
    width: 30%;
  }
  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-darkBlue;
    border-radius: 10px;
    border: 3px none #ffffff;
  }
}

.listElement {
  width: 80%;
}