@import '../../styles/colors.scss';

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_textField {
    margin: 1rem;
    background-color:$color-white;
    

  }
}