@import "../../../../src/styles/colors.scss";
@import "../../../../src/styles/fonts.scss";

.userProfile {
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  &:last-child {
    justify-content: flex-start;
  }
}
.header {
  width: 100%;
  text-align: left;
  color: $color-blue;
}

.smallHeader {
  text-align: left;
  color: $color-blue;
}

.information {
  width: 45%;
}

.currency {
  width: 45%;
}

.controlPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.paragraph {
  margin-left: 2rem;
}

.avatarModal {
  width: 70%;
  height: 50%;
  background-color: $color-white;
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-50%, -30%);
  border-radius: .5rem;
  border: 1px solid $color-black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @media (min-width: 624px) {
    width: 50%;
    height: 35%;
  }
  @media (min-width: 1024px) {
    width: 30%;
  }
}

.avatarInput {
  margin: 1rem;
  background-color: $color-white;
  border: 1px solid $color-blue;
  border-radius: 0.4rem;
  text-align: center;
  line-height: 2rem;
  font-weight: 700;
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
  &::placeholder {
    font-weight: 700;
    text-align: center;
  }
}

.passwordPopup {
  width: 70%;
  height: 50%;
  background-color: $color-white;
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-50%, -30%);
  border-radius: .5rem;
  border: 1px solid $color-black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @media (min-width: 624px) {
    width: 50%;
    height: 35%;
  }
  @media (min-width: 1024px) {
    width: 30%;
  }
}

.passwordPopup_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: none;
}

.closeIcon {
  position: absolute;
  top:0;
  right: 0;
  padding: .5rem;
  align-self: flex-end;
  font-size: 2rem;
  color: $color-red;
  &:hover {
    cursor: pointer;
  }
}

.passwordPopup_form_input {
  margin: 1rem;
  background-color:$color-white;
  border: none;
  border-bottom: .5px solid $color-disabled;
  text-align: left;
  line-height: 2rem;
  font-weight: 700;
  &:focus {
    outline: none;
    &::placeholder {
      text-align: left;
      color: transparent;
    }
  }
  &::placeholder {
    font-weight: 700;
    text-align: left;
  }
}
